.backbtn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    text-align: left;
    margin-left: 4rem;
    margin-top: 4rem;
}

.backbtn-container .link {
    text-decoration: none;
    color: purple;
    display: flex;
    align-items: center;
    gap: 5px;
}

.backbtn-container .link:hover {
    color: purple;
    font-weight: 600;
}