@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px rgb(170, 170, 170);
  }
  .font-outline-4 {
    -webkit-text-stroke: 2px rgb(255, 255, 255);
  }

  .font-outline-4-yellow {
    -webkit-text-stroke: 2px rgb(255, 255, 148);
  }
  .font-outline-4-purple {
    -webkit-text-stroke: 2px rgb(171, 92, 255);
  }
}


:root {
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  background-color: #000000;
}